<div class="container">

<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :first_name,
                required: true,
                autofocus: true ,
                input_html: { autocomplete: "Enter your first name" }%>
    <%= f.input :last_name,
                required: true,
                autofocus: true ,
                input_html: { autocomplete: "Enter your last name" }%>

    <%= f.input :about,
                  required: true,
                  autofocus: true ,
                  input_html: { autocomplete: "About yourself" }%>

      <%= f.label :birthday %>
      <%= f.date_field :birthday, autofocus: true %>

    <%= f.input :email,
                required: true,
                autofocus: true ,
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

</div>
