<%= form_for([@meal, @meal.comments.build]) do |f| %>
<style>
		 input[type=text] {
			 width: 100%;
			 padding: 12px 20px;
			 margin: 8px 0;
			 display: inline-block;
			 border: 1px solid #ccc;
			 border-radius: 4px;
			 box-sizing: border-box;
		 }
		 #comment_body {
			 width: 100%;
			 padding: 12px 20px;
			 margin: 8px 0;
			 display: inline-block;
			 border: 1px solid #ccc;
			 border-radius: 4px;
			 box-sizing: border-box;
		 }
		 #form {
		 border-radius: 5px;
		 background-color: #f2f2f2;
		 padding: 20px;
		 }
	 </style>
	<%= f.label :name %><br>
	<%= f.text_field :name %><br>
	<br>
	<%= f.label :body %><br>
	<%= f.text_area :body %><br>
	<br>
	<%= f.submit %>
<% end %>
