<div class="profile">
   <h3>About Me</h3>
   <hr>
    <%= image_tag current_user.gravatar_url, :class => "gravatar-show" %>
      <h4>Hello! Nice to meet you!!!</h4>
      <h5> My Full name: <%= @user.first_name %> <%= @user.last_name %></h5>
      <h5>Birthday :<%= @user.birthday %></h5>    d
      <p><%= @user.about %></p>
      <h2>Meals that have been created!!</h2>

      <% if @user_meals.count == 0 %>

        <h1>You Haven't create any recipe yet.</h1>

      <% else %>
        <div class="row">
            <% @user_meals.each do |meal|%>
            <div class="col-md-4">
              <div class="recipe">
                <div class="image_wrapper">
                  <%= link_to meal do %>
                    <%= image_tag meal.picture.url, width: '250px', height: '250px' if meal.picture.present? %>
                  <% end %>
                </div>
                <h2>
                  <%= link_to meal.name, meal %>
                </h2>
              </div>
            </div>
              <%end%>
          </div>
          <%end%>
      </div>
