<!DOCTYPE html>
	<html>
		<head>
			<title>Help Center</title>
			<h3 style="color: brown;">Frequently Ask Question</h3>

			<body>
				<p>This page will show you how to add meal and see your comments.</p>

				<p>Cras condimentum purus sit amet neque pellentesque faucibus. Etiam venenatis iaculis quam, et porta mauris congue cursus. Quisque nec posuere neque. Donec ornare purus eget pharetra placerat. Cras tempor odio eget ex pharetra, nec ultrices arcu iaculis. Nunc egestas lacus eu pulvinar mattis. Phasellus accumsan elit eget enim lacinia posuere. Ut in tempus ipsum, sit amet tempus mi. Phasellus fermentum turpis vel euismod cursus. Nullam non vestibulum lacus. Praesent mauris augue, tincidunt eget vulputate a, posuere vitae orci. Pellentesque ac ante tellus.</p>

				<p>Nulla facilisis non mi vitae fringilla. Donec efficitur eleifend ullamcorper. Duis commodo congue lectus sed imperdiet. Ut nec placerat lacus, ac convallis mauris. Ut suscipit, augue a faucibus rutrum, lectus risus feugiat nunc, vel varius enim mauris quis massa. Suspendisse scelerisque, erat eu molestie mattis, ligula mauris semper tortor, sit amet faucibus nisl leo vitae neque. Cras semper nibh nec efficitur pellentesque. Cras a pretium nisi, sit amet convallis mi.</p>

				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempor consectetur molestie. In consequat sem imperdiet, interdum lacus et, volutpat nisl. Duis dignissim consectetur facilisis. Quisque auctor nulla quis ante suscipit, iaculis laoreet lorem hendrerit. Vivamus pulvinar sem eget lorem ornare, maximus dictum justo auctor. Sed congue ultricies fringilla. Phasellus lacinia neque at tortor convallis ornare. Nunc quis est id ipsum accumsan viverra. Donec sed condimentum urna. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris massa tortor, imperdiet vel ante nec, finibus posuere mi. Fusce mattis nisi at lacus auctor posuere. In augue quam, suscipit lacinia maximus non, euismod eget eros. Ut suscipit cursus pretium. Maecenas lacus tellus, convallis nec maximus sit amet, lobortis at urna.</p>
			</body>
	</html>
