
  <%= simple_form_for @meal, html: { multipart: true } do |f| %>
    <% if @meal.errors.any? %>
      <div id="errors">
        <p>
          <%= @meal.errors.count %>
          Prevented this meal froms saving
        </p>
        <ul>
          <% @meal.errors.full_messages.each do |msg| %>
            <li>
              <%= msg %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="panel-body">
    <%= select_tag(:category_id, options_for_select(@categories), :prompt => "Select a category") %>
      <%= f.input :name, input_html: { class: 'form-control' } %>
      <%= f.input :description, input_html: { class: 'form-control' } %>
      <%= f.file_field :picture, id: :meal_picture %>

      <div class="row">


              <div class="col-md-6">
                <h3>Ingredients</h3>
                <div id="ingredients">
                  <%= f.simple_fields_for :ingredients do |ingredient| %>
                    <%= render 'ingredient_fields', f: ingredient %>
                  <% end %>
                  <div class="links">
                    <%= link_to_add_association 'Add Ingredient', f, :ingredients, class: "btn btn-default add-button" %>
                  </div>
                </div>
              </div>


        <div class="col-md-6">
          <h3>Directions</h3>
          <div id="directions">
            <%= f.simple_fields_for :directions do |direction| %>
              <%= render 'direction_fields', f: direction %>
            <% end %>
            <div class="links">
              <%= link_to_add_association 'Add Step', f, :directions, class: "btn btn-default add-button" %>
            </div>
          </div>
        </div>


      </div>
    </div>
    <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>
