
<div class="container">
  <h1>Editing Meal</h1>

  <%= render 'form', meal: @meal %>
  <br>
  <button type="button"><%= link_to 'Show', @meal %></button> |
  <button type="button"><%= link_to "Back", root_path %></button>
</div>
