
<div class="w3-container w3-padding-32" id="recipes">
    <h2 class="w3-border-bottom w3-border-grey w3-padding-16" style="color: brown; text-align: center;" > <b>Here Are Our Meals
    </b></h2>
</div>



  <div class="container">
    <div class="row">
      <h1 class="current-category"><%= params[:category] %></h1>

      <% if @meals.count == 0 %>

        <h1>There are no meals currently in this category</h1>

      <% else %>

      <div class="row">
        <% @meals.each do |meal| %>
          <div class="col-md-4">
            <div class="recipe">
              <div class="image_wrapper">
                <%= link_to meal do %>
                  <%= image_tag meal.picture.url, width: '250px', height: '250px' if meal.picture.present? %>
                <% end %>
              </div>
              <h2>
                <%= link_to meal.name, meal %>
              </h2>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    <%end %>
    <%== pagy_bootstrap_nav(@pagy).html_safe %>
  </div>
