<div class="container">
<h1 style="color: #4c0080;">You can create meal from here Easily!!</h1>

<%= render 'form', meal: @meal %>

<button type="button"><%= link_to "Back", root_path %></button>
</div>
