<br>
<div class="container">
  <div class="row">

    <div class="col-md-4">
      <%= image_tag(@meal.picture_url, width: '350px', height: '350px') if @meal.picture.present? %>
    </div>
    <div class="col-md-8">
      <div id="recipe_info">
        <h1>
          <%= @meal.name %>
        </h1>
        <h4>
          Category: <%= @meal.category.name %>
        </h4>
        <h5>
          Posted by <%= @meal.user.email %> <%= time_ago_in_words(@meal.created_at) %> ago.
        </h5>
        <p class="description">
          <%= @meal.description %>
        </p>
        <%= link_to like_meal_path(@meal), method: :put, class: "btn btn-default" do %>
        <span class="glyphicon glyphicon-thumbs-up"></span>
        <%= @meal.get_upvotes.size %>
        <% end %>
      </div>
    </div>
  </div>
<!-- ///////////////////////////////////////////////////////////////// -->

  <br>
  <div class="row">
    <div class="col-md-6">
      <div id="ingredients">
        <h2>Ingredients</h2>
        <ul>
          <% @meal.ingredients.each do |ingredient| %>
            <li>
              <%= ingredient.name %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  <!-- ////////////////////////////////////////////////////// -->
    <div class="col-md-6">
      <div id="directions">
        <h2>Directions</h2>
        <ul>
          <% @meal.directions.each do |direction| %>
            <li>
              <%= direction.name %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <!-- /////////////////////////////////////////// -->

  <div class="row">
    <div class="col-md-8">
      	<div id="comments">
      		<h2><%= @meal.comments.count %> Comments</h2>
      		<%= render @meal.comments %>
        </div>
        </div>
        <div class="col-md-4">
          <h3>Add a comment:</h3>
          <%= render "comments/form" %>
        </div>

  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
            <button type="button"><%= link_to "Back", root_path %></button>
            <% if user_signed_in? %>
              <%if @meal.user == current_user%>
              <button type="button"><%= link_to 'Edit', edit_meal_path(@meal)%> </button>
              <button type="button"><%= link_to 'Destroy', meal_path(@meal), data: { confirm: 'Are you sure?' }, method: :delete %></button>
              <% end %>
            <% end %>
    </div>
  </div>
</div>
