<!DOCTYPE html>
 <html>
  <head>

   <title>Meals</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'false' %>
    <%= javascript_include_tag 'application','data-turbolinks-track' => true %>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </head>

  <body>

   <div class="page-header">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
     <div class="container-fluid">

      <div class="navbar-header">
       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
       <span class="sr-only">Toggle navigation</span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
       </button>
       <a class="navbar-brand" href="/">Main Menu</a>
      </div>

      <div class="collapse navbar-collapse">
       <ul class="nav navbar-nav">
        <li><a href="/meals/new">New Recipe</a></li>
        <li><a href="/pages/contact">Contact Us</a></li>

       </ul>


       <p class="navbar-text pull-right">
        <% if user_signed_in? %>
        <%= image_tag current_user.gravatar_url, :class => "gravatar" %>
        Logged in as <strong><%= current_user.email %></strong>.
        <%= link_to current_user.first_name, current_user%> |
        <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
        <% else %>
        <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link navbar-text navbar-right'  %> |
        <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
        <% end %>
       </p>
      </div>
    </div>
   </nav>
  </div>

  <div>
    <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
    <% end %>
  </div>


    <div class="w3-container-fluid">
      <div class="w3-row">
        <div class="bg">
        <div class="w3-container w3-center">
          <div class="splash__brand">
            <%= image_tag "Logo.png", class: "splash__brand__logo", width: '150px', height: '150px' %>
          </div>
          <h2 style="color: white;"> You can Search Your Recipe in Here!!!
          <a><%= form_for "",url: meals_path, role: "search" , method: :get do %>
          <%= text_field_tag :search, @search_tearm,placeholder: "MEAL Name....." %>
          <% end %></a>
          </h2>
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Choose Category
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <% Category.all.each do |category| %>
              <li class="<%= 'active' if params[:category] == category.name %>">
                <%= link_to category.name, meals_path(category: category.name), class: "link" %>
              </li>
                <% end %>
            </ul>
          </div>
         </div>
      </div>
    </div>
  </div>
  <%= yield %>

  <footer class="container-fluid text-center" style="  background-color: #ccccb3;color: black;padding: 15px;       margin-top: 15px;">
        <div>
       Our Recipes Website is Offering you above these Orders.
        <br>
        No 1509, 15 Floor,Sakura Tower<br>
        yangonpress@gmail.com<br>
        Ph: 0918848225 <br>
        <div>
            <div class="row">
              <div class="col-sm-4">
                <a href="/juices"><h5>Juice</h5></a>
                We offering You These Orders<br>
                We admit that the Food are really good Quality <br>
              </div>
              <div class="col-sm-4">
                <a href="/meals"><h5>Meals</h5></a>
                <%= Time.now.year %><br>
                We offering You These Orders<br>
                We admit that the  are Juices really good Quality and Healthy for you.<br>
              </div>
              <div class="col-sm-4">
                <h5>Social</h5>
                <a href="https://www.facebook.com/"><p>Facebook</p></a>
                <a href="https://www.instagram.com/">
                  <p>Instagram</p>
                </a>
                <a href="https://www.google.com/"><p>Google</p></a>

              </div>
            </div>
          </div>
        </div>
      </footer>
 </body>
</html>
